/*Challenge #2: Interactive navigation bar

Create a navigation bar out of an unordered list element,
and add the following interactivity.

When the user hovers over one of the links,
  the color of the text should change.
When the user hovers over one of the links,
  the background color of the element that contains the link should change.
When the user clicks on one of the links,
  the element that contains the link should grow in size by 5px on the left and right.*/

nav ul li{
  display: inline-block;
  margin-right: 35px;
}

nav {
  font-size: 2em;
  text-align: center;
  background-color: slategray;
}

a {
  text-decoration: none;
  color: yellow;
}

a:hover {
  color: slategray;
  background-color: yellow;
}

a:active {
  margin-left: 5px;
  margin-right: 5px;
}










